# Scripts to clean car price data
### Created: Sept 15, 2023
### Last modified: Sept 15, 2023

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/cars/carPriceList.csv')
df.head()

   year   make                       model  price
0  2023  Honda                     Elevate  14530
1  2023  Honda                           e  37140
2  2023  Honda                   e Advance  37140
3  2023  Honda             Pilot Elite AWD  52030
4  2023  Honda  Pilot EX-L 8-Passenger AWD  42310

In [6]:
df.price.replace('No price available', np.nan, inplace = True)

In [8]:
df.shape

(1354, 4)

In [10]:
df['price'] = pd.to_numeric(df.price, errors='coerce')
df = df.dropna(subset=['price'])
df.shape

(1170, 4)

In [ ]:
df.to_csv('data/cars/prices_clean.csv', index=False)